# git ignore files

[Tt]humbs.db
.vs
Debug

# Visual Studio files
*.[Oo]bj
*.user
*.filters
*.aps
*.pch
*.vspscc
*.vssscc
*.ncb
# *.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
[Ll]ib
[Dd]ebug*/
[Rr]elease*/
*.VC.db


.vs*/
